<div class="login-cover">
    <div class="login-cover-image"><img src="assets/img/login-bg/bg-1.jpg" data-id="login-cover-image" alt=""/></div>
    <div class="login-cover-bg"></div>
</div>
<!-- begin #page-container -->
<div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login login-v2" data-pageload-addclass="animated fadeIn">
        <!-- begin brand -->
        <div class="login-header">
            <div class="brand">
                SentaData

            </div>
            <div class="icon">
                <i class="fa fa-sign-in"></i>
            </div>
        </div>
        <!-- end brand -->

        <div class="alert alert-danger" role="alert" ng-if="errorMsg.flag">
            <a class="alert-link">{{errorMsg.message}}</a>
        </div>

        <div class="login-content">

            <form name="loginForm" ng-submit="login(credentials)">
                <div class="form-group m-b-20">
                    <input type="text" class="form-control input-lg" placeholder="Email Address"
                           ng-model="credentials.username"/>
                </div>
                <div class="form-group m-b-20">
                    <input type="password" class="form-control input-lg" placeholder="Password"
                           ng-model="credentials.password"/>
                </div>
                <div class="checkbox m-b-20">
                    <label>
                        <input type="checkbox"/> Remember Me
                    </label>
                </div>
                <div class="login-buttons">
                    <button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
                </div>
                <div class="m-t-20">
                    Not a member yet? Click <a href="#/signUp">here</a> to register.
                </div>
            </form>
        </div>

    </div>
    <!-- end login -->
</div>
