<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">Application Dashboard</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Application Dashboard</h1>
    <!-- end page-header -->


    <!-- begin row -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-inverse" data-sortable-id="flot-chart-5">
                <div class="panel-heading">
                    <h4 class="panel-title">Active Users for MyApp </h4>
                </div>
                <div class="panel-body">
                    <p>
                        Pie and doughnut charts are probably the most commonly used chart there are. They are divided into segments, the arc of each segment shows the proportional value of each piece of data.
                    </p>

                    <div>
                        <canvas id="line-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-6">
            <div class="panel panel-inverse" data-sortable-id="flot-chart-5">
                <div class="panel-heading">
                    <h4 class="panel-title">Uninstall Rate </h4>
                </div>
                <div class="panel-body">
                    <p>
                        Pie and doughnut charts are probably the most commonly used chart there are. They are divided into segments, the arc of each segment shows the proportional value of each piece of data.
                    </p>

                    <div>
                        <canvas id="line-chart_first"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->

</div>